:root {
    --font-size: 1em;
    --title-size: 5em;
}


*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Raleway', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    max-width: 87vw;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: var(--title-size);
    font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif
}

h2 {
    font-size: calc(0.5 * var(--title-size));
}

p {
    font-size: var(--font-size);
}

/*
    Forms
*/  

form {
    margin: 1rem;
    padding: 1rem 3rem;
    background-color: #ededed;
    border: 2px solid #0e0e0e;
    border-radius: 1rem;

}

.error {
    color: rgb(236, 61, 61);
    text-shadow: #0e0e0e;
}

.art-box {
    display: flex;
    flex-direction: row;
}